{% extends 'base.html' %}

{% block title %}
    Bot informatie
{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Ban Bot</h1>
        <p class="lead">
            Dit is de Ban Bot, een bot waarmee je bans uit jouw en andere servers kan bekijken.
            Het doel van deze bot is om gewaarschuwd te zijn voor gebruikers die al vaak verbannen zijn. Zo maken we discord wat gezelliger en veiliger.
        </p>
        <hr class="my-4">
        <p>Invite de bot!</p>
        <a class="btn btn-primary btn-lg" target="_blank" href="/invite/" role="button">Invite</a>
    </div>
{% endblock content %}