{% extends 'base.html' %}

{% block title %}
    Maker informatie
{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Ban Bot</h1>
        <p class="lead">
            De maker van deze bot is jensjeflensje, oftewijl Jens de Ruiter. Met een passie voor programmeren. Heb jij toevallig een leuk idee voor een bot? Zeg het dan even :).
        </p>
        <hr class="my-4">
        <p>Contacteer mij</p>
        <a class="btn btn-primary btn-lg" target="_blank" href="/invite/" role="button">Discord</a>
    <a class="btn btn-primary btn-lg" target="_blank" href="mailto:jensgamesnl@gmail.com" role="button">Email</a>
    </div>
{% endblock content %}